<%= render 'nav' %>

<h3><%= t(:purchases) %></h3>

<%= form_tag purchases_path, method: :get,:class => "form-inline" do %>

  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "product name or company name" %>
  </div>
  <%= submit_tag t(:search), class:"btn btn-success" %>

<% end %>

<br>
<p><%=t :download %>
  <%= link_to "CSV", purchases_path(format: "csv") %> |
  <%= link_to "Excel", purchases_path(format: "xls") %>
  </p>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:receipt) %></th>
      <th><%= t(:you_bought) %></th>
      <th><%= t(:amount) %></th>
      <th><%= t(:when) %></th>
      <th><%= t(:where) %></th>
    </tr>
  </thead>
  <tbody>
  <% @purchases.each do |purchase| %>
    <tr>
      <td class="img_td"><a data-toggle="modal" data-target="#myModal"><%= image_tag(purchase.receipt.url) if purchase.receipt? %></a>
      
      
      <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Your Receipt</h4>
      </div>
      <div class="modal-body">
        <div class="img_modal"><%= image_tag(purchase.receipt.url)%></div>
        <h4>Right click and save the receipt</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      
      
      
      
      </td>
      <td><%= purchase.product %></td>
      <td><%= number_to_currency(purchase.amount) %></td>
      <td><%= purchase.purchase_date %></td>
      <td><%= purchase.store_name %></td>
      <td class="edit_delete_link_right"><%= link_to t(:edit), edit_purchase_path(purchase) %> | <%= link_to t(:delete),purchase_path(purchase), method: :delete, data: { confirm: "Are you sure you wan't to delete #{purchase.product}" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @purchases%>
<br><br><br><br>
