<% if current_user %>
  <h1>Your dashboard</h1>

  <%= form_tag root_path, :method => 'post' do %>
    <ul class="pager">
      <li class="previous">
      <%= link_to @beginning_current_month.prev_month.strftime("%B"), previous_month_path(:month => @beginning_previous_month) %>
      </li>
      <li class="next">
        <%= link_to @beginning_current_month.next_month.strftime("%B"), next_month_path(:month => @beginning_next_month) %>
      </li>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <h3>What you spent the most money on:</h3>
      <%= pie_chart pie_chart_current_month %>
    </div>
    <div class="col-md-4">
      <div class="sidebar">
        <h4>This month, you've spent:</h4>
        <h1><%= number_to_currency(get_current_month_purchases) %></h1>
      </div>
      <br>
      <div class="sidebar">
        <h4>Last month you spent:</h4>
        <h1><%= number_to_currency(get_previous_month_purchases) %></h1>
      </div>
    </div>
    <div class="col-md-12">
      <%= column_chart Purchase.group_by_month(:purchase_date,format: "%B").group(:product).where(user_id: current_user.id).sum(:amount) %>
    </div>
    <div id="clear"></div>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Where is your money going?</h1>
      <p>Simple and flexible money tracker to help you monitor your daily spending and expenses.</p>
    </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/expense-tracking.gif">
      <h3>Track what you want</h3>
      <p>Track you purchases by category</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/take_control_sign.gif">
      <h3>Take control</h3>
      <p>Watch your spending with simple to read dashboard.</p>
   </div>
    <div class="col-lg-4">
      <img src="assets/lock.jpg">
      <h3>Quick & safe</h3>
      <p>Creating account takes only a few seconds and we promise not to share you personal information.</p>
    </div>
  </div>
<% end %>
