<% if current_user %>
  <h1>Your dashboard</h1>

  <%= form_tag root_path, :method => 'post' do %>
    <div class="month_name">
    <div class="none">
      <div class="previous"><%= link_to @beginning_current_month.prev_month.strftime("%B"), previous_month_path(:month => @beginning_previous_month) %></div>
    </div>
    <div class="flex1">
      <h1><%= @beginning_current_month.strftime("%B") %></h1>
    </div>
    <div class="flex1">
      <div class="next"><%= link_to @beginning_current_month.next_month.strftime("%B"), next_month_path(:month => @beginning_next_month) %></div>
    </div></div>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <h3>What you spent the most money on:</h3>
      <%= pie_chart @pie_chart_current_month %>
    </div>
    <div class="col-md-4">
      <div class="sidebar">
        <h4>This month, you've spent:</h4>
        <h1><%= number_to_currency(@get_current_month_purchases) %></h1>
      </div>
      <br>
      <div class="sidebar">
        <h4>Last month you spent:</h4>
        <h1><%= number_to_currency(@get_previous_month_purchases) %></h1>
      </div>
    </div>
    <div class="col-md-12">
      <%= column_chart @column_chart_all_months %>
    </div>
    <div id="clear"></div>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Where is your money going?</h1>
    <p>Simple and flexible money tracker to help you monitor your daily spending and expenses.</p>
  </div>
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Track what you want</h2>
      <p class="lead">Track you purchases by categories</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/assets/categories.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/assets/dashboard.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Take Control</h2>
      <p class="lead">Watch your spending with simple to read bashboard</p>
    </div>
  </div>
  
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Purchases</h2>
      <p class="lead">All Your Purchases in one place<br>
      Export to CSV or Excel<br>
      Search by product name or Store name.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/assets/purchases.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/assets/signup.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Quick & Safe</h2>
      <p class="lead">Creating account takes only a few seconds and we promise not to share you personal information.</p>
    </div>
  </div>

  <hr class="featurette-divider">
<% end %>
<br>
