<div class="row">
  <div class="col-md-6">
    <%= form_for @category do |f| %>
      <% if @category.errors.any? %>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group">
        <%= f.label t(:title) %>
        <%= f.text_field :title, class: "form-control", placeholder: "Food" %>
      </div>
      <%= f.submit class: "btn btn-success" %>
      
    <% end %>
    <br>
  </div>
</div>

<br>
<%= link_to t(:back), :back %>
