<!DOCTYPE html>
<html>
<head>
  <title>Moneytor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container_header">

    <div class="header">

      <ul class="nav nav-pills pull-right">
        <% if is_admin? %>
          <li><%= link_to "Admin", admin_index_path %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to "Your dashbord", root_path %></li>
          <li><%= link_to "Purchases", purchases_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <li><%= link_to "Profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Signup", signup_path %></li> 
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
      <h1 class="text-muted">
        Moneytor
      </h1>

    </div>
  </div>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= msg %>
      <% end %>
    <%= yield %>
        <div id="clear"></div>
  <div id="footer">
      <p class="muted credit">Built by <a href="http://hoshilab.com">Hayri Cicek</a> | Get the code <a href="https://github.com/cicekhayri/moneytor">Github</a></p>
  </div>
    </div>





</body>
</html>
