<!DOCTYPE html>
<html>
<head>
  <title>Moneytor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="header">
      <ul class="nav nav-pills pull-right">
        <% if current_user %>
          <li><a href="Dashbord">Dashbord</a></li>
          <li><%= link_to "Categories", categories_path %></li>
          <li><%= link_to "Profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Signup", signup_path %></li> 
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
      <h1 class="text-muted"><%= link_to 'Moneytor', root_path %></h1>
    </div>
  </div>

  <div id="wrap">


    <div class="container">

    <%= yield %>

    </div>

    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">Built by <a href="http://hoshilab.com">Hayri Cicek</a></p>
    </div>
  </div>


</body>
</html>
